[user]
	name = Dylan Maccora
	email = maccora17@gmail.com
[color]
    ui = auto
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[diff]
    colorMoved = default
[merge]
    conflictstyle = zdiff3
[core]
	excludesfile = ~/.gitignore
	autocrlf = input
	pager = delta
[commit]
	template = ~/.gitmessage
[alias]
    co = checkout
    dag = log --graph --format='format:%C(yellow)%h%C(reset) %C(cyan)%an <%ae>%C(reset) %C(magenta)%cD%C(reset)%C(auto)%d%C(reset)%n%s' --date-order
    logp = log --graph --pretty='%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit  -10
    logpp = log --graph --pretty='%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cs) %C(bold blue)<%an>%Creset' --abbrev-commit
    unstage = reset HEAD --
    st = status
    discard = checkout --
    am = commit -a -m
    last = show --stat HEAD
    yesterday = log --after='yesterday' --oneline --author='Dylan Maccora'
    ap = add --patch
    amend = commit --amend --no-edit
    stash = stash --include-untracked
    last-tag = describe --abbrev=0 --tags
    tags = tag --list --sort -creatordate
[interactive]
    diffFilter = delta --color-only --features=interactive
[delta]
    whitespace-error-style = 22 reverse
    syntax-theme = gruvbox-dark
    navigate = true

[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
