[user]
	name = Dylan Maccora
	email = maccora17@gmail.com
[color]
    ui = auto
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[diff]
	tool = p4merge
[merge]
	tool = p4merge
[core]
	excludesfile = ~/.gitignore
	editor = nvim
	autocrlf = input
	pager = delta
[commit]
	template = ~/.gitmessage
[alias]
    co = checkout
	logp = log --graph --pretty='%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit  -10
	logpp = log --graph --pretty='%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	unstage = reset HEAD --
	st = status
	discard = checkout --
	am = commit -a -m
	last = show --stat HEAD
	yesterday = log --after='yesterday' --oneline --author='Dylan Maccora'
    ap = add --patch
    amend = commit --amend --no-edit
	stash = stash --include-untracked
[interactive]
    diffFilter = delta --color-only
[delta]
    features = line-numbers decorations
	whitespace-error-style = 22 reverse
	plus-style = "syntax #012800"
	minus-style = "syntax #340001"
    syntax-theme = base16
    navigate = true
[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none
    hunk-header-decoration-style = yellow box

