[user]
	name = Dylan Maccora
	email = maccora17@gmail.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[diff]
	tool = p4merge
[merge]
	tool = p4merge
[core]
	excludesfile = ~/.gitignore
	editor = vim
	autocrlf = true
[difftool "sourcetree"]
	cmd = /Applications/p4merge.app/Contents/MacOS/p4merge \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/p4merge.app/Contents/MacOS/p4merge \"$BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\"
	trustExitCode = true
[commit]
	template = ~/.gitmessage
[alias]
    co = checkout
	logp = log --graph --pretty='%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --all
	unstage = reset HEAD --
	st = status
	discard = checkout --
	am = commit -a -m
	last = show --stat HEAD
	yesterday = log --after='yesterday' --oneline --author='Dylan Maccora'
